.bg--red {
    background-color: #F44336;
    border-color: #F44336;
    color: #fff
}

.bg--red-300 {
    background-color: #E57373;
    border-color: #E57373;
    color: #fff
}

.bg--red-400 {
    background-color: #EF5350;
    border-color: #EF5350;
    color: #fff
}

.bg--red-600 {
    background-color: #E53935;
    border-color: #E53935;
    color: #fff
}

.bg--red-700 {
    background-color: #D32F2F;
    border-color: #D32F2F;
    color: #fff
}

.bg--red-800 {
    background-color: #C62828;
    border-color: #C62828;
    color: #fff
}

.bg--success {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: #fff
}

.bg--success-300 {
    background-color: #81C784;
    border-color: #81C784;
    color: #fff
}

.bg--success-400 {
    background-color: #66BB6A;
    border-color: #66BB6A;
    color: #fff
}

.bg--success-600 {
    background-color: #43A047;
    border-color: #43A047;
    color: #fff
}

.bg--success-700 {
    background-color: #388E3C;
    border-color: #388E3C;
    color: #fff
}

.bg--success-800 {
    background-color: #2E7D32;
    border-color: #2E7D32;
    color: #fff
}

.bg--warning {
    background-color: #FF5722;
    border-color: #FF5722;
    color: #fff
}

.bg--warning-300 {
    background-color: #FF8A65;
    border-color: #FF8A65;
    color: #fff
}

.bg--warning-400 {
    background-color: #FF7043;
    border-color: #FF7043;
    color: #fff
}

.bg--warning-600 {
    background-color: #F4511E;
    border-color: #F4511E;
    color: #fff
}

.bg--warning-700 {
    background-color: #E64A19;
    border-color: #E64A19;
    color: #fff
}

.bg--warning-800 {
    background-color: #D84315;
    border-color: #D84315;
    color: #fff
}

.bg--info {
    background-color: #00BCD4;
    border-color: #00BCD4;
    color: #fff
}

.bg--info-300 {
    background-color: #4DD0E1;
    border-color: #4DD0E1;
    color: #fff
}

.bg--info-400 {
    background-color: #26C6DA;
    border-color: #26C6DA;
    color: #fff
}

.bg--info-600 {
    background-color: #00ACC1;
    border-color: #00ACC1;
    color: #fff
}

.bg--info-700 {
    background-color: #0097A7;
    border-color: #0097A7;
    color: #fff
}

.bg--info-800 {
    background-color: #00838F;
    border-color: #00838F;
    color: #fff
}

.bg--pink {
    background-color: #E91E63;
    border-color: #E91E63;
    color: #fff
}

.bg--pink-300 {
    background-color: #F06292;
    border-color: #F06292;
    color: #fff
}

.bg--pink-400 {
    background-color: #EC407A;
    border-color: #EC407A;
    color: #fff
}

.bg--pink-600 {
    background-color: #D81B60;
    border-color: #D81B60;
    color: #fff
}

.bg--pink-700 {
    background-color: #C2185B;
    border-color: #C2185B;
    color: #fff
}

.bg--pink-800 {
    background-color: #AD1457;
    border-color: #AD1457;
    color: #fff
}

.bg--violet {
    background-color: #9C27B0;
    border-color: #9C27B0;
    color: #fff
}

.bg--violet-300 {
    background-color: #BA68C8;
    border-color: #BA68C8;
    color: #fff
}

.bg--violet-400 {
    background-color: #AB47BC;
    border-color: #AB47BC;
    color: #fff
}

.bg--violet-600 {
    background-color: #8E24AA;
    border-color: #8E24AA;
    color: #fff
}

.bg--violet-700 {
    background-color: #7B1FA2;
    border-color: #7B1FA2;
    color: #fff
}

.bg--violet-800 {
    background-color: #6A1B9A;
    border-color: #6A1B9A;
    color: #fff
}

.bg--purple {
    background-color: #673AB7;
    border-color: #673AB7;
    color: #fff
}

.bg--purple-300 {
    background-color: #9575CD;
    border-color: #9575CD;
    color: #fff
}

.bg--purple-400 {
    background-color: #7E57C2;
    border-color: #7E57C2;
    color: #fff
}

.bg--purple-600 {
    background-color: #5E35B1;
    border-color: #5E35B1;
    color: #fff
}

.bg--purple-700 {
    background-color: #512DA8;
    border-color: #512DA8;
    color: #fff
}

.bg--purple-800 {
    background-color: #4527A0;
    border-color: #4527A0;
    color: #fff
}

.bg--indigo {
    background-color: #3F51B5;
    border-color: #3F51B5;
    color: #fff
}

.bg--indigo-300 {
    background-color: #7986CB;
    border-color: #7986CB;
    color: #fff
}

.bg--indigo-400 {
    background-color: #5C6BC0;
    border-color: #5C6BC0;
    color: #fff
}

.bg--indigo-600 {
    background-color: #3949AB;
    border-color: #3949AB;
    color: #fff
}

.bg--indigo-700 {
    background-color: #303F9F;
    border-color: #303F9F;
    color: #fff
}

.bg--indigo-800 {
    background-color: #283593;
    border-color: #283593;
    color: #fff
}

.bg--blue {
    background-color: #03A9F4;
    border-color: #03A9F4;
    color: #fff
}

.bg--blue-300 {
    background-color: #4FC3F7;
    border-color: #4FC3F7;
    color: #fff
}

.bg--blue-400 {
    background-color: #29B6F6;
    border-color: #29B6F6;
    color: #fff
}

.bg--blue-600 {
    background-color: #039BE5;
    border-color: #039BE5;
    color: #fff
}

.bg--blue-700 {
    background-color: #0288D1;
    border-color: #0288D1;
    color: #fff
}

.bg--blue-800 {
    background-color: #0277BD;
    border-color: #0277BD;
    color: #fff
}

.bg--teal {
    background-color: #009688;
    border-color: #009688;
    color: #fff
}

.bg--teal-300 {
    background-color: #4DB6AC;
    border-color: #4DB6AC;
    color: #fff
}

.bg--teal-400 {
    background-color: #26A69A;
    border-color: #26A69A;
    color: #fff
}

.bg--teal-600 {
    background-color: #00897B;
    border-color: #00897B;
    color: #fff
}

.bg--teal-700 {
    background-color: #00796B;
    border-color: #00796B;
    color: #fff
}

.bg--teal-800 {
    background-color: #00695C;
    border-color: #00695C;
    color: #fff
}

.bg--green {
    background-color: #8BC34A;
    border-color: #8BC34A;
    color: #fff
}

.bg--green-300 {
    background-color: #AED581;
    border-color: #AED581;
    color: #fff
}

.bg--green-400 {
    background-color: #9CCC65;
    border-color: #9CCC65;
    color: #fff
}

.bg--green-600 {
    background-color: #7CB342;
    border-color: #7CB342;
    color: #fff
}

.bg--green-700 {
    background-color: #689F38;
    border-color: #689F38;
    color: #fff
}

.bg--green-800 {
    background-color: #558B2F;
    border-color: #558B2F;
    color: #fff
}

.bg--orange {
    background-color: #FF9800;
    border-color: #FF9800;
    color: #fff
}

.bg--orange-300 {
    background-color: #FFB74D;
    border-color: #FFB74D;
    color: #fff
}

.bg--orange-400 {
    background-color: #FFA726;
    border-color: #FFA726;
    color: #fff
}

.bg--orange-600 {
    background-color: #FB8C00;
    border-color: #FB8C00;
    color: #fff
}

.bg--orange-700 {
    background-color: #F57C00;
    border-color: #F57C00;
    color: #fff
}

.bg--orange-800 {
    background-color: #EF6C00;
    border-color: #EF6C00;
    color: #fff
}

.bg--brown {
    background-color: #795548;
    border-color: #795548;
    color: #fff
}

.bg--brown-300 {
    background-color: #A1887F;
    border-color: #A1887F;
    color: #fff
}

.bg--brown-400 {
    background-color: #8D6E63;
    border-color: #8D6E63;
    color: #fff
}

.bg--brown-600 {
    background-color: #6D4C41;
    border-color: #6D4C41;
    color: #fff
}

.bg--brown-700 {
    background-color: #5D4037;
    border-color: #5D4037;
    color: #fff
}

.bg--brown-800 {
    background-color: #4E342E;
    border-color: #4E342E;
    color: #fff
}

.bg--grey {
    background-color: #777;
    border-color: #777;
    color: #fff
}

.bg--grey-300 {
    background-color: #999;
    border-color: #999;
    color: #fff
}

.bg--grey-400 {
    background-color: #888;
    border-color: #888;
    color: #fff
}

.bg--grey-600 {
    background-color: #666;
    border-color: #666;
    color: #fff
}

.bg--grey-700 {
    background-color: #555;
    border-color: #555;
    color: #fff
}

.bg--grey-800 {
    background-color: #444;
    border-color: #444;
    color: #fff
}

.bg--slate {
    background-color: #607D8B;
    border-color: #607D8B;
    color: #fff
}

.bg--slate-300 {
    background-color: #90A4AE;
    border-color: #90A4AE;
    color: #fff
}

.bg--slate-400 {
    background-color: #78909C;
    border-color: #78909C;
    color: #fff
}

.bg--slate-600 {
    background-color: #546E7A;
    border-color: #546E7A;
    color: #fff
}

.bg--slate-700 {
    background-color: #455A64;
    border-color: #455A64;
    color: #fff
}

.bg--slate-800 {
    background-color: #37474F;
    border-color: #37474F;
    color: #fff
}

.bg--white {
    background-color: #fff;
    color: #333
}
.bg--bordeaux-800 {
    background-color: #562110;
    border-color: #562110;
    color: #fff
}
.bg--bordeaux-700 {
    background-color: #712A14;
    border-color: #712A14;
    color: #fff
}
.bg--bordeaux-600 {
    background-color: #903316;
    border-color: #903316;
    color: #fff
}
.text--bordeaux-600,
.text--bordeaux-600:focus,
.text--bordeaux-600:hover {
    color: #903316!important
}
.text--bordeaux-700,
.text--bordeaux-700:focus,
.text--bordeaux-700:hover {
    color: #712A14!important
}
.text--bordeaux-800,
.text--bordeaux-800:focus,
.text--bordeaux-800:hover {
    color: #562110!important
}


.text--pink,
.text--pink:focus,
.text--pink:hover {
    color: #E91E63!important
}

.text--pink-300,
.text--pink-300:focus,
.text--pink-300:hover {
    color: #F06292!important
}

.text--pink-400,
.text--pink-400:focus,
.text--pink-400:hover {
    color: #EC407A!important
}

.text--pink-600,
.text--pink-600:focus,
.text--pink-600:hover {
    color: #D81B60!important
}

.text--pink-700,
.text--pink-700:focus,
.text--pink-700:hover {
    color: #C2185B!important
}

.text--pink-800,
.text--pink-800:focus,
.text--pink-800:hover {
    color: #AD1457!important
}

.text--violet,
.text--violet:focus,
.text--violet:hover {
    color: #9C27B0!important
}

.text--violet-300,
.text--violet-300:focus,
.text--violet-300:hover {
    color: #BA68C8!important
}

.text--violet-400,
.text--violet-400:focus,
.text--violet-400:hover {
    color: #AB47BC!important
}

.text--violet-600,
.text--violet-600:focus,
.text--violet-600:hover {
    color: #8E24AA!important
}

.text--violet-700,
.text--violet-700:focus,
.text--violet-700:hover {
    color: #7B1FA2!important
}

.text--violet-800,
.text--violet-800:focus,
.text--violet-800:hover {
    color: #6A1B9A!important
}

.text--purple,
.text--purple:focus,
.text--purple:hover {
    color: #673AB7!important
}

.text--purple-300,
.text--purple-300:focus,
.text--purple-300:hover {
    color: #9575CD!important
}

.text--purple-400,
.text--purple-400:focus,
.text--purple-400:hover {
    color: #7E57C2!important
}

.text--purple-600,
.text--purple-600:focus,
.text--purple-600:hover {
    color: #5E35B1!important
}

.text--purple-700,
.text--purple-700:focus,
.text--purple-700:hover {
    color: #512DA8!important
}

.text--purple-800,
.text--purple-800:focus,
.text--purple-800:hover {
    color: #4527A0!important
}

.text--indigo,
.text--indigo:focus,
.text--indigo:hover {
    color: #3F51B5!important
}

.text--indigo-300,
.text--indigo-300:focus,
.text--indigo-300:hover {
    color: #7986CB!important
}

.text--indigo-400,
.text--indigo-400:focus,
.text--indigo-400:hover {
    color: #5C6BC0!important
}

.text--indigo-600,
.text--indigo-600:focus,
.text--indigo-600:hover {
    color: #3949AB!important
}

.text--indigo-700,
.text--indigo-700:focus,
.text--indigo-700:hover {
    color: #303F9F!important
}

.text--indigo-800,
.text--indigo-800:focus,
.text--indigo-800:hover {
    color: #283593!important
}

.text--blue,
.text--blue:focus,
.text--blue:hover {
    color: #03A9F4!important
}

.text--blue-300,
.text--blue-300:focus,
.text--blue-300:hover {
    color: #4FC3F7!important
}

.text--blue-400,
.text--blue-400:focus,
.text--blue-400:hover {
    color: #29B6F6!important
}

.text--blue-600,
.text--blue-600:focus,
.text--blue-600:hover {
    color: #039BE5!important
}

.text--blue-700,
.text--blue-700:focus,
.text--blue-700:hover {
    color: #0288D1!important
}

.text--blue-800,
.text--blue-800:focus,
.text--blue-800:hover {
    color: #0277BD!important
}

.text--teal,
.text--teal:focus,
.text--teal:hover {
    color: #009688!important
}

.text--teal-300,
.text--teal-300:focus,
.text--teal-300:hover {
    color: #4DB6AC!important
}

.text--teal-400,
.text--teal-400:focus,
.text--teal-400:hover {
    color: #26A69A!important
}

.text--teal-600,
.text--teal-600:focus,
.text--teal-600:hover {
    color: #00897B!important
}

.text--teal-700,
.text--teal-700:focus,
.text--teal-700:hover {
    color: #00796B!important
}

.text--teal-800,
.text--teal-800:focus,
.text--teal-800:hover {
    color: #00695C!important
}

.text--green,
.text--green:focus,
.text--green:hover {
    color: #8BC34A!important
}

.text--green-300,
.text--green-300:focus,
.text--green-300:hover {
    color: #AED581!important
}

.text--green-400,
.text--green-400:focus,
.text--green-400:hover {
    color: #9CCC65!important
}

.text--green-600,
.text--green-600:focus,
.text--green-600:hover {
    color: #7CB342!important
}

.text--green-700,
.text--green-700:focus,
.text--green-700:hover {
    color: #689F38!important
}

.text--green-800,
.text--green-800:focus,
.text--green-800:hover {
    color: #558B2F!important
}

.text--orange,
.text--orange:focus,
.text--orange:hover {
    color: #FF9800!important
}

.text--orange-300,
.text--orange-300:focus,
.text--orange-300:hover {
    color: #FFB74D!important
}

.text--orange-400,
.text--orange-400:focus,
.text--orange-400:hover {
    color: #FFA726!important
}

.text--orange-600,
.text--orange-600:focus,
.text--orange-600:hover {
    color: #FB8C00!important
}

.tyorange-700,
.text--orange-700:focus,
.text--orange-700:hover {
    color: #F57C00!important
}

.text--orange-800,
.text--orange-800:focus,
.text--orange-800:hover {
    color: #EF6C00!important
}

.text--brown,
.text--brown:focus,
.text--brown:hover {
    color: #795548!important
}

.text--brown-300,
.text--brown-300:focus,
.text--brown-300:hover {
    color: #A1887F!important
}

.text--brown-400,
.text--brown-400:focus,
.text--brown-400:hover {
    color: #8D6E63!important
}

.text--brown-600,
.text--brown-600:focus,
.text--brown-600:hover {
    color: #6D4C41!important
}

.text--brown-700,
.text--brown-700:focus,
.text--brown-700:hover {
    color: #5D4037!important
}

.text--brown-800,
.text--brown-800:focus,
.text--brown-800:hover {
    color: #4E342E!important
}

.text--grey,
.text--grey:focus,
.text--grey:hover {
    color: #777!important
}

.text--grey-300,
.text--grey-300:focus,
.text--grey-300:hover {
    color: #999!important
}

.text--grey-400,
.text--grey-400:focus,
.text--grey-400:hover {
    color: #888!important
}

.text--grey-600,
.text--grey-600:focus,
.text--grey-600:hover {
    color: #666!important
}

.text--grey-700,
.text--grey-700:focus,
.text--grey-700:hover {
    color: #555!important
}

.text--grey-800,
.text--grey-800:focus,
.text--grey-800:hover {
    color: #444!important
}

.text--slate,
.text--slate:focus,
.text--slate:hover {
    color: #607D8B!important
}

.text--slate-300,
.text--slate-300:focus,
.text--slate-300:hover {
    color: #90A4AE!important
}

.text--slate-400,
.text--slate-400:focus,
.text--slate-400:hover {
    color: #78909C!important
}

.text--slate-600,
.text--slate-600:focus,
.text--slate-600:hover {
    color: #546E7A!important
}

.text--slate-700,
.text--slate-700:focus,
.text--slate-700:hover {
    color: #455A64!important
}

.text--slate-800,
.text--slate-800:focus,
.text--slate-800:hover {
    color: #37474F!important
}

.text--white,
.text--white:focus,
.text--white:hover {
    color: #fff!important
}

.text--default,
.text--default:focus,
.text--default:hover {
    color: #333!important
}
.text--red,
.text--red:focus,
.text--red:hover {
    color: #F44336!important
}

.text--red-300,
.text--red-300:focus,
.text--red-300:hover {
    color: #E57373!important
}

.text--red-400,
.text--red-400:focus,
.text--red-400:hover {
    color: #EF5350!important
}

.text--red-600,
.text--red-600:focus,
.text--red-600:hover {
    color: #E53935!important
}

.text--red-700,
.text--red-700:focus,
.text--red-700:hover {
    color: #D32F2F!important
}

.text--red-800,
.text--red-800:focus,
.text--red-800:hover {
    color: #C62828!important
}