.js-tab {

    display: none;

    &.is-active {
        display: block;
    }

}

.js-tabs-select2 {

    display: none;
    margin-bottom: 30px;

    @include MQ($md) {
        display: block;
    }

}

.js-tabs-header {

    width: 100%;
    display: table;
    position: relative;
    table-layout: fixed;
    margin-bottom: 40px;

    @include MQ($md) {
        display: none;
    }

    .js-tabs-header-line {
        left: 0;
        right: 0;
        top: 50px;
        height: 1px;
        z-index: -1;
        position: absolute;
        background-color: $color_content_default_border;
    }

    .js-tabs-cell {

        text-align: center;
        display: table-cell;
        vertical-align: top;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }

        &.is-active {

            .js-tab-link {

                i {
                    color: white;
                    background-color: $color_primary;
                    border: 1px solid $color_primary;
                }

            }

        }

        &.is-disabled {

            .js-tab-link {
                cursor: default;
            }
        }

    }

    .js-tab-link {

        width: 144px;
        cursor: pointer;
        padding-left: 20px;
        text-align: center;
        padding-right: 20px;
        display: inline-block;
        background-color: #f6f6f6;

        i {
            width: 104px;
            height: 104px;
            display: block;
            margin: 0 auto;
            font-size: 50px;
            font-weight: 600;
            line-height: 104px;
            text-align: center;
            font-style: normal;
            color: $color_primary;
            @include border-radius(100%);
            @include transition(all 0.2s);
            border: 1px solid rgba(#000, 0.27);
        }

        small {
            width: 100%;
            display: block;
            font-size: 16px;
            line-height: 1.3;
            font-weight: 400;
            margin-top: 15px;
            color: $color_header_text;
        }

    }

    // 4 ITEMS

    &.has-4-tabs {

        .js-tabs-cell {

            &:nth-child(2) {
                padding-right: 3rem;
            }

        }

    }

    // 5 ITEMS

    &.has-5-tabs {

        .js-tabs-cell {

            &:nth-child(2) {
                padding-right: 5rem;
            }

            &:nth-child(3) {
                padding-right: 1rem;
            }

        }

        @include MQ($lgg) {

            .js-tabs-header-line {
                top: 43px;
            }

            .js-tabs-cell {

                &:nth-child(2) {
                    padding-right: 0;
                }

                &:nth-child(3) {
                    padding-right: 0;
                }

            }

            .js-tab-link {

                width: 124px;

                i {
                    width: 84px;
                    height: 84px;
                    font-size: 40px;
                    line-height: 84px;
                }

                small {
                    font-size: 14px;
                }

            }

        }

    }

    // 6 ITEMS

    &.has-6-tabs {

        @include MQ($mqbig) {

            .js-tabs-header-line {
                top: 33px;
            }

            .js-tab-link {

                width: 104px;

                i {
                    width: 64px;
                    height: 64px;
                    font-size: 24px;
                    line-height: 64px;
                }

                small {
                    font-size: 13px;
                }

            }

        }

    }

    // 7 ITEMS

    &.has-7-tabs {

        @include MQ($mqbig) {

            .js-tabs-header-line {
                top: 23px;
            }

            .js-tab-link {

                width: 94px;

                i {
                    width: 54px;
                    height: 54px;
                    font-size: 22px;
                    line-height: 54px;
                }

                small {
                    font-size: 12px;
                }

            }

        }

    }

    // 8 ITEMS

    &.has-8-tabs {

        @include MQ($mqbig) {

            .js-tabs-header-line {
                top: 20px;
            }

            .js-tab-link {

                width: 84px;

                i {
                    width: 44px;
                    height: 44px;
                    font-size: 18px;
                    line-height: 44px;
                }

                small {
                    font-size: 12px;
                }

            }

        }

    }

}

.js-tabs-media{
    padding: 5px;
    background: darken($color_select_background,5%);
    .js-tabs-cell{
        float: left;
        &.is-active{
            a{
                color: #fff;
                background: $color_primary;
            }
        }
    }
}

.js-tabs-footer {

    display: block;
    padding-top: 20px;
    border-top: 1px solid $color_content_default_border;

    @include MQ($xs) {

        .text-right {
            text-align: left;
        }

        .btn-js-left {
            width: 49%;
            float: left;
        }
        .btn-js-right {
            width: 49%;
            float: right;
        }

        .btn-js-full {
            width: 100%;
            display: block;
            margin-top: 10px;
        }

    }

}

/** Classic Tabs **/
.js-tabs-header--classic {

    .js-tabs-cell {
        padding: 10px 20px !important;
        vertical-align: middle;
        background-color: $color_secondary; 
        border-right: 1px solid darken( $color_secondary, 10% );
        @include transition(all 0.3s);

        &:first-child {
            text-align: center;
        }

        &:last-child {
            text-align: center;
            border-right: none !important;
        }

        .js-tab-link {
            color: white;
            display: inline;
            width: auto;
            background: transparent;
            padding: 0px;
        }

        &.is-active, &:hover {
            background-color: $color_primary; 
            border-right: 1px solid darken( $color_primary, 10% );
        }

        &.is-disabled {
            background-color: $color_btn_transparent; 
            border-right: 1px solid darken( $color_btn_transparent, 10% );
        }

    }

}